:root {
    --home-bg-color: #FFF;
    --home-primary-text-color: #2C2C2C;
    --home-secondary-text-color: #7D7D7D;
    --home-accent-color: #001F3F;
    --font-family: 'Helvetica Neue', sans-serif;
    --essentials-background-color: #F7F7F7;
    --essentials-background-gradient-radial: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(234,234,234,1) 100%);
    --essentials-button-color: #BCC5D3;
    --essentials-p-text-color: #2C2C2C;
    --essentials-s-text-color: #555555;
    --signature-background-color: #FAF4EF;
    --signature-background-gradient-radial: radial-gradient(circle, rgba(250,244,239,1) 0%, rgba(240,229,218,1) 100%);
    --signature-button-color: #8E7D70;
    --signature-p-text-color: #4E4A45;
    --signature-s-text-color: #7D7D7D;
    --elite-background-color: #F5F2E8;
    --elite-background-gradient-radial: radial-gradient(circle, rgba(245,242,232,1) 0%, rgba(237,231,214,1) 100%);
    --elite-button-color: #C19A6B;
    --elite-p-text-color: #2C2C2C;
    --elite-s-text-color: #A98B66;
  }