/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'globalVariables.scss';
@font-face {
    font-family: helvetica;
    src: url(assets/helvetica.otf) format("opentype");
  }
*,body{
    margin: 0;
    padding: 0;
    // font-family: var(--font-family);
    // font-family: "Syne", sans-serif;;
    font-family: "Bricolage Grotesque", sans-serif;
}
.signature-layout-bg{
  background: var(--signature-background-color);
  background: var(--signature-background-gradient-radial);
}
.no-outline-button{
  padding: 0;
  border: none;
  background: none;
  transition: all 100ms ease-in-out;
}
.no-outline-button:hover{
  opacity: 0.8;
}

.product-card-border{
  border-bottom: 1px solid var(--blue-3-color);
}