<footer class="flex flex-col relative bottom-[-30px] gap-10 items-start tablet:gap-0 tablet:flex-row tablet:justify-between tablet:items-center text-lg p-4">
    <div class="w-[100%] tablet:w-[50%]">
        <form action="" class="flex flex-col items-start">
            <label for="email">Join The Revolution -></label>
            <input type="email" placeholder="Email Address" class="focus:outline-none w-full tablet:w-[50%] border-b border-black">
        </form>
    </div>
    <div class="w-[100%] tablet:w-[50%]">
        <ul class="flex flex-col cursor-pointer tablet:flex-row tablet:justify-around">
            <li>Contact Us</li>
            <li>Instagram</li>
            <li>TD Philosophy</li>
            <li>Legal Notices</li>
        </ul>
    </div>
</footer>