<main class="min-h-full w-full p-0 top-[-30px] tablet:top-0 relative">
   <!-- <app-navbar [scroll]="scroll"></app-navbar> -->
    <section #section1 id='section1'  class="z-0 overflow-hidden hero-section relative flex items-center justify-center min-h-[100vh] bg-cover bg-top laptop-sm:bg-top hero-section">
       <!-- <img id='bg' class="absolute top-0 left-50 object-cover h-[100%] w-[100%]" src="../../../assets/horseBgRem.png" alt=""> -->
       <div id='bg' class="absolute z-[-1] bg-cover bg-right-top bg-no-repeat top-0 left-0 object-cover h-[100%] w-[100%] 
       bg-[url('https://images.pexels.com/photos/29032720/pexels-photo-29032720/free-photo-of-stylish-portrait-of-a-man-in-a-suit.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]
       tablet:bg-[url('https://images.pexels.com/photos/6974923/pexels-photo-6974923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]">

       </div> 
       <h1 id='title' class=" text-white text-5xl font-bold logo-text tablet:text-black tablet:text-8xl">THREAD DROP</h1>
    </section>
    <!-- <section id='section2' class="min-h-[100vh] flex flex-col tablet:flex-row justify-evenly">
        <div class="relative cursor-pointer" routerLink="/signature" >
            <img id="signatureImg" class="p-8 object-cover h-[100%] max-w-[100%] " src="https://images.pexels.com/photos/28928655/pexels-photo-28928655/free-photo-of-moody-portrait-of-man-in-autumn-sunlight.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2 class="text-4xl text-white font-semibold absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] ">
                SIGNATURE
            </h2>
        </div>
        <div class="relative cursor-pointer" routerLink="/luxury" >
            <img id="luxuryImg" class="p-8 object-cover h-[100%] max-w-[100%] " src="https://images.pexels.com/photos/27849554/pexels-photo-27849554/free-photo-of-man-sitting-on-wall-at-park.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2 class="text-4xl text-white font-semibold absolute top-[63%] tablet:top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] ">
                LUXURY
            </h2>
        </div>
       
    </section> -->
    <!-- <app-footer></app-footer> -->
</main>
