<main class="flex flex-col gap-20 min-h-[100vh] hero-section">
    <app-navbar [option]="option"></app-navbar>
    <section *ngIf="!isLoggedIn" class="m-auto">
        <app-login-component (loginEvent)="loginEvent($event)"></app-login-component>
    </section>
    <section *ngIf="isLoggedIn" class="p-4">
       <div class="flex justify-between">
        <h1>
            Welcome to your Wardrobe <span class="text-xl font-bold">{{customerData?.firstName}}</span>
        </h1>
        <button class="px-6 mb-6 py-2 border border-black hover:bg-black hover:text-white"
        (click)="logout()">
            Logout
        </button>
       </div>
       <div>
        
       </div>
    </section>
</main>
