<main class="flex flex-col gap-20 min-h-[100vh] hero-section">
    <app-navbar [option]="option"></app-navbar>
    <section class="flex flex-col items-center">
        <div class="sticky top-[5.5vw] z-100 w-full py-10 bg-white border-b">
           <app-filtersection></app-filtersection>
        </div>
        <div class="overflow-hidden w-full gap-[2vw] p-[1vw] flex flex-col items-center  tablet-sm:grid tablet-sm:grid-cols-2 laptop-sm:grid-cols-3">
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            <ng-container>
                <div class="min-w-[60vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[70vw] tablet-sm:min-h-[55vw] laptop-sm:min-h-[40vw] border border-black ">

                </div>
            </ng-container>
            
        </div>
    </section>
    <app-footer></app-footer>

</main>
