<div (click)="onProductClick(product?.node?.handle)"
    class="flex flex-col product-card-border cursor-pointer justify-around min-w-[65vw] tablet-sm:min-w-[45vw] laptop-sm:min-w-[30vw] min-h-[80vw] tablet-sm:min-h-[60vw] laptop-sm:min-h-[40vw]  ">
    <img [src]="productImage" [alt]="product.productName" 
    class="h-full w-full rounded-[18px]">
    <div class="h-full text-lg">
        <!-- <div>{{product.productSegment}}</div> -->
        <div>{{productName}}</div>
        <div>{{productPrice}}</div>
    </div>
</div>
